<% content_for :page_title do %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to 'Shipstation Accounts', admin_shipstation_accounts_path%></li>
      <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
  </nav>
<% end %>

<%= render 'form' %>